/_build
/cover
/deps
/db
erl_crash.dump
*.ez

/apps/aspirin/_build
/apps/aspirin/cover
/apps/aspirin/deps
/apps/aspirin/node_modules
/apps/aspirin/db
/apps/aspirin/priv/static/
/apps/aspirin/config/prod.secret.exs
/apps/aspirin/config/dev.db.exs
/apps/aspirin/config/test.db.exs

/app/asprin_monitor/_build
/app/asprin_monitor/cover
/app/asprin_monitor/deps
