use Mix.Config

# Configure your database
config :aspirin, Aspirin.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "aspirin_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
