<span>Diagram <strong><%= @diagram.name %></strong></span>
<%= link "Back", to: diagram_path(@conn, :index), class: "pull-right" %>

<div class="row">
  <div class="col-md-9">
    <div class="mermaid">
      <%= @diagram.body %>
    </div>
  </div>

  <div class="col-md-3">
    <%= render "form.html", changeset: @changeset,
                            action: diagram_path(@conn, :update, @diagram) %>
  </div>
</div>
